@media (min-width: 1024px) {
    .large12{width: 97.33%;}
    .large11{width: 89.22%;}
    .large10{width: 81.11%;}
    .large9{width: 72.99%;}
    .large8{width: 64.88%;}
    .large7{width: 56.77%;}
    .large6{width: 48.66%;}
    .large5{width: 40.55%;}
    .large4{width: 32.44%;}
    .large3{width: 24.33%;}
    .large2{width: 16.22%;}
    .large1{width: 8.11%;}
    .large0{display:none; width: 0%;}
}

@media (min-width: 640px) and (max-width: 1023px) {
    .medium12{width: 97.33%;}
    .medium11{width: 89.22%;}
    .medium10{width: 81.11%;}
    .medium9{width: 72.99%;}
    .medium8{width: 64.88%;}
    .medium7{width: 56.77%;}
    .medium6{width: 48.66%;}
    .medium5{width: 40.55%;}
    .medium4{width: 32.44%;}
    .medium3{width: 24.33%;}
    .medium2{width: 16.22%;}
    .medium1{width: 8.11%;}
    .medium0{display:none; width: 0%;}
}

@media (min-width: 280px) and (max-width: 639px) {
    .small12{width: 97.33%;}
    .small11{width: 89.22%;}
    .small10{width: 81.11%;}
    .small9{width: 72.99%;}
    .small8{width: 64.88%;}
    .small7{width: 56.77%;}
    .small6{width: 48.66%;}
    .small5{width: 40.55%;}
    .small4{width: 32.44%;}
    .small3{width: 24.33%;}
    .small2{width: 16.22%;}
    .small1{width: 8.11%;}
    .small0{display:none; width: 0%;}
}
.center{
    display: block; 
    margin: auto;
}
.column{
    display: inline-block; 
    vertical-align: top;
}