body{
    background: #ececff;

    label{
        font-size: 18px;
        margin: 10px 6px;
        display: block;
        font-family: 'Barlow';
    }

    input[type=text]{
        width: 90%;
        height: 40px;
        font-size: 22px;
        padding: 6px 10px;
        font-family: 'Barlow';
        color: #2e2e2e;
        display: block;
    }

    .skeu{
        background: #ececff;
        border: none;
        box-shadow: 3px 3px 9px #bcbcbc, -3px -3px 9px #ffffff;
        outline: none;
        transition: 200ms;
    }
    .skeu:hover{
        box-shadow: 6px 6px 18px #bcbcbc, -6px -6px 18px #ffffff;
        transition: 200ms;
    }

    .submit{
        font-size: 22px;
        padding: 12px 16px;
    }
}
.card_holder{
    width: 500px;
    height: 250px;
    margin: 200px 0px;
    box-shadow: 3px 3px 9px #acacac;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fcfcfc;
    background: radial-gradient(circle at top left, #de1738, #990066);


    .name{
        display: block;
        font-size: 42px;
        font-family: 'Barlow', 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Roboto';
        font-weight: bold;
        line-height: 1.2;
    }

    .position{
        display: block;
        font-size: 22px;
        font-family: 'Barlow', 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Roboto';
        line-height: 1.2;
    }

    .contact{
        display: block;
        font-size: 20px;
        font-family: 'Barlow', 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Roboto';
        position: relative;
        top: 120px;
    }

    .email{
        display: block;
        font-size: 20px;
        font-family: 'Barlow', 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Roboto';
        position: relative;
        top: 130px;
    }
}